@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

body{
    height: 100%;
    margin: 0;
    font-family: "poppins", sans-serif;
}

.bg{
    background-image: url("../assets/img/bg.jpg");
    height: 100%;
}